@import "~normalize.css";

@import "clear_style.scss";
@import "clear_style.scss";
@import "roboto";

#root {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.container-content {
  flex: 1 1 auto;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  padding: 30px 0px 30px 0px;
}

